<html>

<head>
    <title>SPIA</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="javascripts/function.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/progress_bar.js"></script>

    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }

        .form-control[readonly], fieldset[disabled] {
            background-color: white;
        }
    </style>
</head>

<body ng-app="amacApp">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
        <ul class="nav navbar-nav">
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a>{{ currentUserType() }}</a></li>

            <li ng-show="isLoggedIn()"><a href="#" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        </ul>
    </nav>
    <div class="row logo">
        <img style="width:100; height:100;" src="images/logo_Spia.png" />
    </div>
    <div class="col-md-6 col-md-offset-3" style="margin-top:69px;">
        <ul class="nav nav-pills nav-justified">
            <li class="navPill"><a href="/#/products">Catalogo</a></li>
            <li class="navPill active"><a href="/#/home">Crear Orden</a></li>
            <li class="navPill"><a href="/#/register">Agregar Usuario</a></li>
        </ul>

        <ui-view></ui-view>
    </div>
    <!--LOOOOL -->

    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1></h1>
        </div>
        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Orden</th>
                    <th>Estatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="post in posts | orderBy: '-upvotes'">
                <tr>
                    <td><a ng-show="post.link" href="{{post.link}}">{{post.title}}</a><span ng-hide="post.link">{{post.title}}</span><span ng-show="post.author">posted by <a>{{post.author}}</a></span></td>
                    <td>
                        <span ng-show="post.progress == 0"><b>No a Iniciado</b></span>
                        <span ng-show="post.progress == 10"><b>Diseño</b></span>
                        <span ng-show="post.progress == 20"><b>Preprensa</b></span>
                        <span ng-show="post.progress == 30"><b>Planacion</b></span>
                        <span ng-show="post.progress == 40"><b>Produccion</b></span>
                        <span ng-show="post.progress == 50"><b>Almacen</b></span>
                        <span ng-show="post.progress == 60"><b>Prensa</b></span>
                        <span ng-show="post.progress == 65"><b>Acabados</b></span>
                        <span ng-show="post.progress == 70"><b>Producto Terminado</b></span>
                        <span ng-show="post.progress == 80"><b>Calidad</b></span>
                        <span ng-show="post.progress == 90"><b>Entregas</b></span>
                        <span ng-show="post.progress == 100"><b>Orden Completada</b></span>
                    </td>
                    <td><span><a href="#/posts/{{post._id}}">ver orden</a>({{post.comments.length}})</span></td>
                </tr>
            </tbody>
        </table>




        <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px">
            <h3>Agrega una Orden:</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Titulo" ng-model="title">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre de Cliente" ng-model="nombreCliente">
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class "form-group">
                        <input type="text" class="form-control" placeholder="Entrada" autocomplete="off" id="datepicker" readonly>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class "form-group">
                        <input type="text" class="form-control" placeholder="Impresión" autocomplete="off" id="datepicker2" readonly>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class "form-group">
                        <input type="text" class="form-control" placeholder="Acabado" autocomplete="off" id="datepicker3" readonly>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class "form-group">
                        <input type="text" class="form-control" placeholder="Salida" autocomplete="off" id="datepicker4" readonly>
                    </div>
                </div>
            </div>
            <br></br>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
        <div ng-hide="isLoggedIn()">
            <h3>Ocupas <a href="/#/login">Ingresar</a> o <a href="/#/register">Registrarte</a> antes de poner una orden</h3>
        </div>

    </script>

    <script type="text/ng-template" id="/posts.html">
        <div class="page-header">
            <input class="btn" type="button" value="Refresh Page" onClick="window.location.reload()">
            <!--
            <h1>Ventas:     {{post.ventasConfirmation}}</h1>
            <h1>Diseno:     {{post.disenoConfirmation}}</h1>
            <h1>Almacen:    {{post.almacenConfirmation}}</h1>
            <h1>Produccion: {{post.produccionConfirmation}}</h1>
            <h1>PrePrensa:  {{post.preConfirmation}}</h1>
            <h1>Acabados:   {{post.acabadosConfirmation}}</h1>
            <h1>Calidad:    {{post.calidadConfirmation}}</h1>
            <h1>Entregas:   {{post.entregasConfirmation}}</h1>
        -->
            <h3>
                <a ng-show="post.link" href="{{post.link}}">
                  {{post.title}}
                </a>
                <span ng-hide="post.link">
                  {{post.title}}
                </span>
            </h3>
            <h4>{{post.nombreCliente}}</h4>
        </div>
        <div class="row" id="progressButtonOneRow">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{ventasStyle()}}" ng-disabled="currentUserType() != 'ventas' || post.ventasConfirmation == true" ng-click="ventasConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Ventas</small></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{disenoStyle()}}" ng-disabled="currentUserType() != 'diseno' || post.disenoConfirmation == true || post.ventasConfirmation == false" ng-click="disenoConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Diseno</small></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{preStyle()}}" ng-disabled="currentUserType() != 'preprensa' || post.preConfirmation == true || post.disenoConfirmation == false" ng-click="preConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Preprensa</small></h5>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{planacionStyle()}}" ng-disabled="currentUserType() != 'planacion' || post.planacionConfirmation == true || post.preConfirmation == false" ng-click="planacionConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Planacion</small></h5>

            </div>
            <!--ERROR HERE IN PRODDUCTION LIMITANT -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{produccionStyle()}}" ng-disabled="currentUserType() != 'produccion' || post.produccionConfirmation == true || post.planacionConfirmation == false" ng-click="produccionConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Produccion</small></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{alamcenStyle()}}" ng-disabled="currentUserType() != 'almacen' || post.almacenConfirmation == true || post.produccionConfirmation == false" ng-click="almacenConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Almacen</small></h5>
            </div>
        </div>
        <div class="row" id="progressRow">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{post.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{post.progress}}%">
                    {{post.progress}} % {{department()}}
                </div>
            </div>
        </div>
        <div class="row" id="progressButtonTwoRow">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{prensaStyle()}}" ng-disabled="currentUserType() != 'prensa' || post.prensaConfirmation == true || post.almacenConfirmation == false" ng-click="prensaConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Prensa</small></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{acabadosStyle()}}" ng-disabled="currentUserType() != 'acabados' || post.acabadosConfirmation == true || post.prensaConfirmation == false" ng-click="acabadosConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Acabados</small></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button style="{{calidadStyle()}}" ng-disabled="currentUserType() != 'calidad' || post.calidadConfirmation == true || post.acabadosConfirmation == false" ng-click="calidadConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Calidad</small></h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button style="{{productoTerStyle()}}" ng-disabled="currentUserType() != 'productoTer' || post.productoTerConfirmation == true || post.calidadConfirmation == false" ng-click="productoTerConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Producto Terminado</small></h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button style="{{entregasStyle()}}" ng-disabled="currentUserType() != 'entregas' || post.entregasConfirmation == true || post.productoTerConfirmation == false" ng-click="entregasConfirmationCapture(post)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <h5><small>Entregas</small></h5>
            </div>
        </div>
        <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(comment)"></span> {{comment.upvotes}}
            <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(comment)"></span> - by {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">
                {{comment.body}}
            </span>
        </div>
        <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
            <h3>Agrega un Comentario</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>
        <div ng-hide="isLoggedIn()">
            <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
        </div>
    </script>

    <script type="text/ng-template" id="/products.html">
        <div class="form-group" style="padding-top:50px;">
            <label for="filter">Buscar:</label>
            <input type="text" ng-model="filter" class="form-control">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Agrega Producto</button>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modelContent">
                    <form ng-submit="addProduct()" ng-show="isLoggedIn()" style="margin-top:30px">
                        <h3 style="text-align:center;">Agrega un Producto</h3>
                        <div class="form-group">
                            <h3>Informacion Basica</h4>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" placeholder="Title" ng-model="title">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" placeholder="Descripcion" ng-model="description">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" placeholder="tina, azul, describeme..." ng-model="tags">
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="text" class="form-control" placeholder="Provedor" ng-model="suppplier">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="number" class="form-control" placeholder="Cantidad" ng-model="quantity">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3>Dimensiones</h3>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="number" class="form-control" placeholder="Peso" ng-model="weight">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="number" class="form-control" placeholder="Anchura" ng-model="width">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="number" class="form-control" placeholder="Altura" ng-model="height">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="text" class="form-control" placeholder="Imagen" ng-model="imgUrl">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <img class="previewImg" src="{{imgUrl}}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                    <div ng-hide="isLoggedIn()">
                        <h3>Ocupas <a href="/#/login">Ingresar</a> o <a href="/#/register">Registrarte</a> antes de poner una orden</h3>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="productContainer">
          <!-- Resolution problem 992-1307 -->
            <div ng-repeat="product in products | filter: filter ">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div  ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" class="thumbnail"><img class="thumbnailImg" src="{{product.imgUrl}}" />
                        <div class="caption"><strong>{{product.Localidad}} </strong>
                            <h4 class="text-center">{{product.title}} </h4>
                            <p>{{product.description}}</p>
                            <p>{{product.precio_unitario}} </p>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input class="form-control" type="Number" ng-model="newQuantity" />
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </div>
                            </div>
                              <div class="extraInformation" ng-show="hoverEdit">
                                <h5 class="text-center">{{product.quantity}} pz.</h5>
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    W: {{product.width}},
                                    H: {{product.height}}
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h5>Provedor: {{product.suppplier}}</h5>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blankspace">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </script>

    <script type="text/ng-template" id="/register.html">
        <div class="page-header">
            <h1></h1>
        </div>

        <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
        </div>

        <form ng-submit="register()" style="margin-top:30px;">
            <h3>Register</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
            </div>

            <div class="form-group">
                <label for="sel1">Tipo de usuario list:</label>
                <select ng-model="user.userType" class="form-control" id="sel1">
                <option value="admin">Administridaor</option>
                <option value="ventas">Ventas</option>
                <option value="diseno">Diseño</option>

                <option value="preprensa">Preprensa</option>
                <option value="planacion">Planacion</option>
                <option value="produccion">Produccion</option>
                <option value="almacen">Almacen</option>
                <option value="prensa">Prensa</option>
                <option value="acabados">Acabados</option>
                <option value="calidad">Calidad</option>
                <option value="productoTer">Producto Terminado</option>
                <option value="entregas">Entregas</option>
                <option value="test">Test</option>
              </select>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </script>

    <script type="text/ng-template" id="/login.html">
        <div class="page-header">
            <h1></h1>
        </div>

        <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
        </div>

        <form ng-submit="logIn()" style="margin-top:30px;">
            <h3>Log In</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </script>


</body>

</html>
